// === couleurs ===
$text-color: #333333;
$theme-color: salmon;
$primary-color: blue;
$secondary-color: green;
$ternary-color: pink;
$link-color: navy;
$menu-item-color: white;

// === tailles ===
$content-width: 80%;
$body-height: 100vh;
$header-height: 20vh;
$footer-height: 20vh;
$size: 1rem;

// === typo
$text-font: Verdana, Arial, sans-serif;
$headline-font: "Poppins", sans-serif;
